<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <!-- <div id='app'>
    <ol>
      <li v-for="(item,index) in persons" :key="id">
        索引:{{index}}---id:{{item.id}}-名字:{{item.name}}-年龄:{{item.age}}
      </li>
    </ol>
    <ul>
      <li v-for="(item,index) in persons" :key="id">
        索引:{{index}}---id:{{item.id}}-名字:{{item.name}}-年龄:{{item.age}}
      </li>
    </ul>
    <ul>
      <li v-for="(val,key,index) in obj">
        {{key}}-{{val}}-{{index}}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el:'#app',
      data:{
        persons:[
          {id:1,name:'吴亦凡',age:1},
          {id:2,name:'蔡徐坤',age:85},
          {id:3,name:'周杰伦',age:25},
        ],
        obj:{
          name:'吴亦凡',
          age:30
        }
      }
    })
    <div id='app'>
    <ol>
      <li v-for="(item,index) in persons" :key="id">
        索引:{{index}}---id:{{item.id}}-名字:{{item.name}}-年龄:{{item.age}}
      </li>
    </ol>
    <ul>
      <li v-for="(item,index) in persons" :key="id">
        索引:{{index}}---id:{{item.id}}-名字:{{item.name}}-年龄:{{item.age}}
      </li>
    </ul>
    <ul>
      <li v-for="(val,key,index) in obj">
        {{key}}-{{val}}-{{index}}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el:'#app',
      data:{
        persons:[
          {id:1,name:'吴亦凡',age:1},
          {id:2,name:'蔡徐坤',age:85},
          {id:3,name:'周杰伦',age:25},
        ],
        obj:{
          name:'吴亦凡',
          age:30
        }
      }
    }) -->

    <div id='app'>
    <ol>
      <li v-for="(item,index) in persons" :key="id">
        索引:{{index}}---id:{{item.id}}-名字:{{item.name}}-年龄:{{item.age}}
      </li>
    </ol>
    <ul>
      <li v-for="(item,index) in persons" :key="id">
        索引:{{index}}---id:{{item.id}}-名字:{{item.name}}-年龄:{{item.age}}
      </li>
    </ul>
    <ul>
      <li v-for="(val,key,index) in obj">
        {{key}}-{{val}}-{{index}}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el:'#app',
      data:{
        persons:[
          {id:1,name:'吴亦凡',age:1},
          {id:2,name:'蔡徐坤',age:85},
          {id:3,name:'周杰伦',age:25},
        ],
        obj:{
          name:'吴亦凡',
          age:30
        }
      }
    })


  </script>
</body>
</html>