<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <!-- <div id='app'>
    <button @click="score='C'">点我</button>
    <p v-if="score==='A'">90到100分之间</p>
    <p v-else-if="score==='B'">80到90分之间</p>
    <p v-else-if="score==='C'">70到80分之间</p>
    <p v-else-if="score==='D'">60到70分之间</p>
    <p v-else>不及格</p>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          score: 'B'
        }
      })
    </script>
    <div id='app'>
      <button @click="score='C'">点我</button>
      <p v-if="score==='A'">90到100分之间</p>
      <p v-else-if="score==='B'">80到90分之间</p>
      <p v-else-if="score==='C'">70到80分之间</p>
      <p v-else-if="score==='D'">60到70分之间</p>
      <p v-else>不及格</p>
      <script>
        const vm = new Vue({
          el: '#app',
          data: {
            score: 'B'
          }
        })
      </script> -->
  <div id='app'>
    <button @click="score='C'">点我</button>
    <p v-if="score==='A'">90到100分之间</p>
    <p v-else-if="score==='B'">80到90分之间</p>
    <p v-else-if="score==='C'">70到80分之间</p>
    <p v-else-if="score==='D'">60到70分之间</p>
    <p v-else>不及格</p>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          score: 'B'
        }
      })
    </script>

  </div>

</body>

</html>