<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <!-- <div id='app'>
    <button @click='click1'>切换</button>
    <p v-if='isSsen'>山阴路</p>
    <p v-else>的夏天</p>
    <button @click='isShow=!isShow'>切换</button>
    display
    <p v-show='isShow'>李志</p>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        isSsen: true,
        isShow: true
      },
      methods: {
        click1() {
          this.isSsen = !this.isSsen
        }
      }
    })
  </script>
   <div id='app'>
    <button @click='click1'>切换</button>
    <p v-if='isSsen'>山阴路</p>
    <p v-else>的夏天</p>
    <button @click='isShow=!isShow'>切换</button>
    display
    <p v-show='isShow'>李志</p>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        isSsen: true,
        isShow: true
      },
      methods: {
        click1() {
          this.isSsen = !this.isSsen
        }
      }
    })
  </script> -->
  <div id='app'>
    <button @click='click1'>切换</button>
    <p v-if='isSsen'>山阴路</p>
    <p v-else>的夏天</p>
    <button @click='isShow=!isShow'>切换</button>
    <!-- display -->
    <p v-show='isShow'>李志</p>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        isSsen: true,
        isShow: true
      },
      methods: {
        click1() {
          this.isSsen = !this.isSsen
        }
      }
    })
  </script>
</body>

</html>